<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="main-col main-col-1">
      	<h2>Research</h2>
      	<p><a href="https://github.com/pbiecek/bgmm">R package: bgmm</a><br/>
      	Gaussian Mixture Modeling algorithms. Including the belief-based mixture modeling.</p>
      	<p><a href="https://github.com/pbiecek/intsvy">R package: intsvy</a><br/>
      	International Assessment Data Manager.</p>
      	<p><a href="https://github.com/pbiecek/ddst">R package: ddst</a><br/>
      	Data driven smooth tests.</p>
      	<p><a href="https://github.com/pbiecek/PBImisc">R package: PBImisc</a><br/>
      	Tools and datasets from ,,Modele liniowe i mieszane w R, wraz z przykladami w analizie danych''.</p>
      	<h2>Archivist</h2>
      	<p><a href="https://github.com/pbiecek/archivist">R package: archivist</a><br/>
      	Tools for Storing, Restoring and Searching for R Objects.</p>
      	<p><a href="https://github.com/pbiecek/archivist2">R package: archivist2</a><br/>
      	Second edition of archivist package.</p>
     	<p><a href="https://github.com/pbiecek/graphGallery">Graph Gallery</a><br/>
      	Blasting site for archivist gallery of graphs.</p>
      	<h2>PISA and PIAAC</h2>
      	<p><a href="https://github.com/pbiecek/PIAAC">PIAAC</a><br/>
      	Dataset from Programme for the International Assessment of Adult Competencies OECD study in R format.</p>
      	<p><a href="https://github.com/pbiecek/PISA2012lite">PISA 2012</a><br/>
      	Dataset from PISA 2012 OECD study in R format.</p>
      	<p><a href="https://github.com/pbiecek/PISA2009lite">PISA 2009</a><br/>
      	Dataset from PISA 2009 OECD study in R format.</p>
      	<p><a href="https://github.com/pbiecek/PISA2006lite">PISA 2006</a><br/>
      	Dataset from PISA 2006 OECD study in R format.</p>
      	<p><a href="https://github.com/pbiecek/PISA2003lite">PISA 2003</a><br/>
      	Dataset from PISA 2003 OECD study in R format.</p>
      	<p><a href="https://github.com/pbiecek/PISA2000lite">PISA 2000</a><br/>
      	Dataset from PISA 2000 OECD study in R format.</p>
      	<p><a href="https://github.com/pbiecek/PISAtools">PISA tools</a><br/>
      	Supplementary functions that help to process PISA data.</p>
      	<p><a href="https://github.com/pbiecek/PISAdocs">PISA docs</a><br/>
      	Short manual: how to download and use datasets from PISA studies.</p>
      	<p><a href="https://github.com/pbiecek/shinyApps">shinyApps</a><br/>
      	Shiny apps build to present PISA data.</p>
      	<h2>Others</h2>
      	<p><a href="https://github.com/pbiecek/Eseje">Eseje</a><br/>
      	Materials from <a href="biecek.pl/Eseje">,,Essays about data visualisation''</a>.</p>
      	<p><a href="https://github.com/pbiecek/MI2tools">MI^2 R packages</a><br/>
      	R packages developed with MI2 group (DendriticSpineR for analyses of dendritic spines, tilingAgronomix for analyses of tiling microarrays).</p>
      	<p><a href="https://github.com/pbiecek/Diagnoza">Diagnoza</a><br/>
      	Diagnoza Spoleczna, Social Diagnosis Objective and Subjective Quality of Life in Poland, data from <a href="http://diagnoza.com/">http://diagnoza.com/</a>.</p>
      	<p><a href="https://github.com/pbiecek/Talks">Talks</a><br/>
      	Some talks from my past.</p>

      </div>
      <div class="main-col main-col-2">
      	<h2>Teaching</h2>
        <p>
        <a href="https://www.datacamp.com/groups/advanced-r-data-visualisation">Advanced R and Data Vis @ DataCamp</a><br/>
        Ask for the invitation link. <a href="https://www.datacamp.com/groups/advanced-r-data-visualisation">[2017/2018]</a>
        </p>
        <p>
        <a href="https://github.com/pbiecek/LinearModels/blob/master/MIMUW_2017/readme.md">Modele liniowe i mieszane</a><br/>
        Linear models with fixed and random effects. <a href="https://github.com/pbiecek/LinearModels/tree/master/MIMUW_2015">[2015/2016]</a> <a href="https://github.com/pbiecek/WarsztatyBadawcze/blob/master/MiNI_2017/README.md">[2016/2017]</a>
        </p>
        <p>
        <p>
        <a href="https://github.com/pbiecek/WarsztatyBadawcze/blob/master/MiNI_2017/README.md">Warsztaty Badawcze</a><br/>
        Case studies. <a href="https://github.com/pbiecek/WarsztatyBadawcze/tree/master/MiNI_2016">[2015/2016]</a> <a href="https://github.com/pbiecek/WarsztatyBadawcze/blob/master/MiNI_2017/README.md">[2016/2017]</a>
        </p>
        <p>
        <a href="https://github.com/pbiecek/ProgramowanieWizualizacja/tree/master/MIMUW_2017">Programowanie i Wizualizacja z R</a><br/>
        R, Data Visualisation, Programming. <a href="https://github.com/pbiecek/ProgramowanieWizualizacja/tree/master/MIMUW_2017">[2016/2017]</a>
        </p>
        <p>
        <a href="https://github.com/pbiecek/StatystykaII">Statistics II</a><br/>
        Exploration, Prediction and Verification. [2015/2016] <a href="https://github.com/pbiecek/StatystykaII/tree/master/MIMUW_2017">[2016/2017]</a>
        </p>
        <p>
        <a href="https://github.com/pbiecek/TechnikiWizualizacjiDanych">Techniki Wizualizacji Danych / Data Visualisation Techniques</a><br/>
        Theory and practice. How to use ggplot2, ggvis, rCharts, plotly and few other tools. [2014/2015] <a href="https://github.com/pbiecek/TechnikiWizualizacjiDanych/tree/master/MINI_2016">[2016/2017]</a>
        </p>
        <p>
        <a href="https://github.com/pbiecek/DataProducts">Data products</a><br/>
        How to build data tools with R. [2015/2016]
        </p>
        <p>
        <a href="https://github.com/pbiecek/RandBigData">R i Duże Dane / R and Big Data</a><br/>
        Shiny, opencpu, HPC, spark, R packages, code profiling, web scrapping, databases. [2014/2015] [2015/2016]
        </p>
      	<p>
      	<a href="https://github.com/pbiecek/PogromcyDanych">R package: PogromcyDanych</a><br/>
      	Datasets for MOOC Pogromcy Danych (for data wrangling, modelling and visualisation).
      	</p>
      </div>
      <div class="main-col main-col-3">
      	<h2>Fun</h2>
      	<p><a href="https://github.com/BetaAndBit">R package: BetaBit</a><br/>
      	Datasets and functions from ,,Beta Bit'' stories for kids.</p>
      	<p>
      	<p><a href="https://github.com/pbiecek/SmarterPoland">R package: SmarterPoland</a><br/>
      	Set of tools developed by the Foundation SmarterPoland.pl.</p>
      	<p>
      	<a href="https://github.com/pbiecek/SmarterPoland_blog">SmarterPoland blog</a><br/>
      	Datasets and materials from blog of SmarterPoland.pl.
      	</p>
      </div>
  </div>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
