<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="main-col main-col-1">
      	<h2>Research</h2>
      </div>
      <div class="main-col main-col-2">
      	<h2>Teaching</h2>
      </div>
      <div class="main-col main-col-3">
      	<h2>Fun</h2>
      </div>
  </div>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
